<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="config.TestReportListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/yuetao/JavaProject/testng/src/test/xml">
        <packages>
            <package name="example.*"></package>
            <package name="multcases.*"></package>
        </packages>
    </test>
</suite>